* {
  margin: 0;
  font-family: Roboto;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eceff4;
}

.calc {
  border-radius: 10px;
  width: fit-content;
  margin-top: 20px;
  background-color: #5E81AC;
}

.calc .screen {
  border: 2px solid rgba(255, 255, 255, 0.027);
  margin: 20px;
  font-size: 25px;
  text-align: end;
  font-weight: 500;
  max-width: 403px;
  height: 32.5px;
  color: rgb(230, 230, 230);
  padding-left: 5px;
  padding-right: 5px;
}

.calc .main {
  font-size: 50px;
  font-weight: 700;
  height: 65px;
  overflow: auto;
  color: white;
}

.calc .buttonsContainer {
  margin: 20px;
  padding-bottom: 20px;
}

.calc .buttonsContainer .buttonRow {
  display: flex;
  justify-content: start;
}

.calc .buttonsContainer .buttonRow .button {
  margin: 1px;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 24px;
  cursor: pointer;
}

.calc .buttonsContainer .buttonRow .button:hover {
  font-size: 28px;
}

.calc .buttonsContainer .buttonRow .main {
  background-color: #2e3440;
  color: white;
}

.calc .buttonsContainer .buttonRow .accent {
  background-color: #4c566a;
  color: white;
}

.calc .buttonsContainer .buttonRow .clearButton {
  background-color: #bf616a;
}

.footer {
    margin-top: 50px;
    font-weight: 500;
}

/* Media Queries */
@media (max-width: 400px) {
  .calc .screen {
    max-width: 323px;
  }
  .calc .buttonsContainer .buttonRow .button {
    width: 80px;
    height: 80px;
  }
}

@media (max-width: 360px) {
  .calc .screen {
    max-width: 243px;
  }
  .calc .buttonsContainer .buttonRow .button {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 300px) {
  .calc .screen {
    max-width: 203px;
  }
  .calc .buttonsContainer .buttonRow .button {
    width: 50px;
    height: 50px;
  }
}
